.input-order{
	text-align: center;
}

#adminForm th a{
	color: #333333;
	display: block;
}

#adminForm th a:hover{
	color: pink;
	display: block;
}

span.gi{
	color       : #d7d7d7;
	font-weight : bold;
	margin-right:5px;
}